@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h-278 {
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  }
}
.w-boxes {
  width: 574px;
}
.h-boxes {
  height: 500px;
}
.w-cards {
  width: 380px;
}
.h-cards {
  height: 420px;
}
.text-wrap {
  word-wrap: break-word;
}
.text-wrap-normal {
  word-wrap: normal;
}

.w-maxcontent {
  width: max-content;
}

.w-query {
  width: 3;
}
